<form class="d-flex" action="/" method="post">
  <div class="mx-3">
    <input type="url" class="form-control" id="url-origin" placeholder="enter url" name="url">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
